@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Events;
@inherits PanelComponent
@namespace Sandbox

<root class="@(_gameManager.CurrentTurn ? "" : "hide")">

    <div class="background">
        <div class="background-inner">
            <div class="reduce-button">Q</div>
            <div class="description">Reduce Time</div>
            <div class="increase-button">E</div>
        </div>
    </div>

    <div class="reduce-text-bg">
        <div class="reduce-text">@_reductionTime s</div>
    </div>
    <div class="enter-label">
        <div class="enter-label">PRESS ENTER TO SUBMIT</div>
    </div>

    <div class="timeout-bar" style="width:@_currentTimeoutWidth"></div>


</root>

@code
{



    public void ResetTimer()
    {
        Log.Info("Reset Timer");
        _reductionTime = 1f;
        _currentTimeoutWidth = 0f;


    }
    protected override void OnStart()
    {
        base.OnStart();
        _gameManager = GameManager.Instance;
        _bombRef = Scene.Directory.FindComponentByGuid(new System.Guid("ad824361-8cfc-4f59-bfe5-0fae8b2a0b63")) as Bomb;
        Log.Warning($"BOMBTIMERINPUT BombRef instance: {_bombRef?.GetHashCode()}");
    }
    async protected override void OnUpdate()
    {

        if (!_gameManager.CurrentTurn) {
            _timeSinceInput = 0f;
            return; 
        }

        _currentTimeoutWidth = (1f - (_timeSinceInput / _maxInputTime)) * 400f;


        if (Input.Down("IncreaseBombTime") && _inputFireRate > 0.05f)
        {
            _reductionTime = float.Min(_maxVal, _reductionTime + 1f);
            _inputFireRate = 0f;

        }
        else if (Input.Down("DecreaseBombTime") && _inputFireRate > 0.05f)
        {
            _reductionTime = float.Max(1, _reductionTime - 1f);
            _inputFireRate = 0f;
        }
        else if (Input.Pressed("SubmitReductionTime") || _timeSinceInput >= _maxInputTime)
        {
            Sound.Play(InputSound);

             _bombRef.ReduceBombTime(_reductionTime);

            ResetTimer();
            await _gameManager.NextTurn();
        }


    }

    [Property] public SoundEvent InputSound {get; set;}
    private float _reductionTime = 1f;
    private GameManager _gameManager = null;
    private TimeSince _timeSinceInput = 0;
    private TimeSince _inputFireRate = 0;
    private int _maxVal = 50;
    private const float _maxInputTime = 5f;
    private float _currentTimeoutWidth = 0f;
    private Bomb _bombRef = null;



    protected override int BuildHash()
    {
        return System.HashCode.Combine(_reductionTime, _currentTimeoutWidth, _gameManager.CurrentTurn);
    }
}
