BombTimerInput {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;
	font-size: 30px;
	flex-direction: column;
	color: white;

	> .reduce-text-bg {
		position: absolute;
		width: 100px;
		height: 90px;
		background-color: darkcyan;
		border-radius: 5px;
		left: 50%;
		top: 53%;
		transform: translate(-50%, -50%);
		padding: 8px;

		> .reduce-text {
			position: relative;
			width: 100px;
			height: 100px;
			background-color: darkslategray;
			border-radius: 5px;
			justify-content: center;
			align-items: center;
		}
	}

	 &.hide {
		opacity: 0;

	 }
	> .background {
		position: absolute;
		top: 61%;
		border-radius: 25px;
		left: 50%;
		width: 500px;
		height: 100px;
		transform: translate(-50%, -50%);
		background-color: darkcyan;
		padding: 8px;

		> .background-inner {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background-color: darkslategray;
			border-radius: 20px;


			> .reduce-button {
				position: absolute;
				justify-content: center;
				align-items: center;
				width: 10%;
				height: 50%;
				border-radius: 10px;
				background-color: dimgray;
				left: 5%;
			}

			> .increase-button {
				position: absolute;
				justify-content: center;
				align-items: center;
				width: 10%;
				height: 50%;
				border-radius: 10px;
				background-color: dimgray;
				left: 85%;
			}
		}
	}


	> .enter-label {
		position: absolute;
		left: 50%;
		top: 63.5%;
		font-size: 20px;
		transform: translate(-50%, -50%);
		justify-content: center;
		align-items: center;


		> .enter-label {
			position: relative;
		}
	}

	> .timeout-bar {
		position: absolute;
		left: 41%;
		top: 65.5%;
		height: 5px;
		background-color: red;

	}
}
