@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    <h1 class="title pulse" style="color: @(_gameManager.PlayerIndex != _gameManager.LoserPlayerIndex ? "green" : "red")">@WinOrNotText</h1>
</root>


@code
{
    protected override void OnStart()
    {
        _gameManager = GameManager.Instance;
        Log.Info(_gameManager.PlayerIndex);
        WinOrNotText = (_gameManager.PlayerIndex != _gameManager.LoserPlayerIndex) ? "You Win!" : "You Lose!";

    }

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(WinOrNotText);

    private string WinOrNotText = "";
    private GameManager _gameManager = null;
}
