@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}
ShowWinnerUI {
	position: absolute;
	top: 5%;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	pointer-events: all;

	.title {
		font-size: 100px;
		font-family: Poppins;
		color: red;
		animation-name: pulse;
		animation-duration: var(--pulse-duration, 1s);
		animation-iteration-count: infinite;
	}
}