@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent
@namespace Sandbox

<root class="@((_gameManager?.GameStarted ?? false)
      && (_gameManager?.CurrentTurn ?? false)
      && (_bombRef?.IsActive ?? false)
         ? ""
         : "hideAll")">

    <section class="background">
        <div class="background-inner">
            <div class="reduce-button">Q</div> 
            <div class="description" style="animation-duration: @(MathF.Max(0.1f, _bombRef?.CurrentTickTime ?? 1f))s;">
                Reduce
            </div>
            <div class="increase-button">E</div>
        </div>
    </section>

    <div class="reduce-text-bg">
        <div class="reduce-text">@_reductionTime s</div>
    </div>
    <p class="enter-label">
        <div class="enter-label">PRESS ENTER TO SUBMIT</div>
    </p>

    <div class="timeout-bar" style="width:@_currentTimeoutWidth"></div>

    <article class="card @(!_gameManager?.CardUsed ?? false ? "" : "hide") @(_gameManager?.CurrentTurn ?? false ? "card-in" : "card-out")">
        <h2 class="card-name">@_gameManager?.ChosenCard.Name</h2>
        <img class ="card-img" src=@_gameManager?.ChosenCard.Image />
        <div class="card-activation_button">F To Activate</div>
        <div class="card-description">@_gameManager?.ChosenCard.Description</div>

    </article>


</root>

@code
{



    public void ResetTimer()
    {
        Log.Info("Reset Timer");
        _reductionTime = 1f;
        _currentTimeoutWidth = 0f;


    }



    protected override void OnStart()
    {
        base.OnStart();
        _bombRef = Scene.Directory.FindByName("BombModel").First().GetComponent<Bomb>();

        Log.Warning($"BOMBTIMERINPUT BombRef instance: {_bombRef?.GetHashCode()}");
        _gameManager = GameManager.Instance;


    }



    [Button]
    private void DebugCheck()
    {
        Log.Warning($"Game started: {_gameManager.GameStarted} CurrentTurn: {_gameManager.CurrentTurn} IsBombActive: {_bombRef.IsActive}");
    }



    private void SubmitTime()
    {
        if (!_bombRef.IsActive) { return; }
        SoundManager.PlayAcrossClients("Input");

        if (_gameManager.CardUsed && !_cardEffectsApplied)
        {
            Card currentCard = _gameManager.ChosenCard;
            _reductionTime = currentCard.Use(_reductionTime);

            _cardEffectsApplied = true;


            if (currentCard.CardID == CardEnum.Shuffle)
            {
                _cardEffectsApplied = false;

            }
        }
        Log.Info(_reductionTime);

        _bombRef.ReduceBombTime(_reductionTime);
        ResetTimer();
        _gameManager.NextTurn();
    }

    async protected override void OnUpdate()
    {
        if (!_gameManager.GameStarted) return;

        if (!_gameManager.CurrentTurn) {
            _timeSinceInput = 0f;
            return; 
        }

        _currentTimeoutWidth = (1f - (_timeSinceInput / _maxInputTime)) * 400f;

        if (Input.Pressed("ActivateCard"))
        {
            if (_gameManager.CardUsed) { return; }



            switch (_gameManager.ChosenCard.CardID)
            {
                // these cards activate on F, not on ENTER, so skip that step when card activated
                case CardEnum.PassOff:
                case CardEnum.Gandering:
                    {
                        _gameManager.ActivateCard();
                        SubmitTime();
                        break;
                    }
                // change card on same turn
                case CardEnum.Shuffle:
                    {
                        _gameManager.ActivateCard(false);
                        _gameManager.ChosenCard.Use(_reductionTime);
                        break;
                    }

                default:
                    _gameManager.ActivateCard();
                    break;


            }
        }

        if (Input.Down("IncreaseBombTime") && _inputFireRate > _increaseSpeed)
        {
            _reductionTime = float.Min(_maxVal, _reductionTime + 1f);
            _inputFireRate = 0f;

        }
        else if (Input.Down("DecreaseBombTime") && _inputFireRate > _decreaseSpeed)
        {
            _reductionTime = float.Max(1, _reductionTime - 1f);
            _inputFireRate = 0f;
        }
        else if (Input.Pressed("SubmitReductionTime") || _timeSinceInput >= _maxInputTime)
        {
            SubmitTime();

        }


    }

    public SoundEvent InputSound {get; set;}

    private float _reductionTime = 1f;
    private GameManager _gameManager = null;
    private TimeSince _timeSinceInput = 0;
    private TimeSince _inputFireRate = 0;
    private int _maxVal = 100;
    private const float _maxInputTime = 5f;
    private float _currentTimeoutWidth = 0f;
    private Bomb _bombRef = null;
    private float _increaseSpeed = 0.03f;
    private bool _cardEffectsApplied = false;
    private float _decreaseSpeed = 0.07f;



    protected override int BuildHash()
    {
        return System.HashCode.Combine(_reductionTime, _currentTimeoutWidth, _gameManager.CurrentTurn, _gameManager.CardUsed, _gameManager.ChosenCard );
    }
}
