@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root class="@((_gameManager?.GameStarted ?? false)
      && (_gameManager?.CurrentTurn ?? false)
      && (_bombRef?.IsActive ?? false)
         ? ""
         : "hide")">

    <div class="background">
        <div class="background-inner">
            <div class="reduce-button">Q</div>
            <div class="description">Reduce 


            </div>
            <div class="increase-button">E</div>
        </div>
    </div>

    <div class="reduce-text-bg">
        <div class="reduce-text">@_reductionTime s</div>
    </div>
    <div class="enter-label">
        <div class="enter-label">PRESS ENTER TO SUBMIT</div>
    </div>

    <div class="timeout-bar" style="width:@_currentTimeoutWidth"></div>

    <div class="card @(!_gameManager?.CardUsed ?? true ? "" : "hide")">
        <div class="card-name">@_gameManager?.ChosenCard.Name</div>
        <img class ="card-img" src=@_gameManager?.ChosenCard.Image />
        <div class="card-activation_button">F To Activate</div>
        <div class="card-description">@_gameManager?.ChosenCard.Description</div>

    </div>


</root>

@code
{



    public void ResetTimer()
    {
        Log.Info("Reset Timer");
        _reductionTime = 1f;
        _currentTimeoutWidth = 0f;


    }



    protected override void OnStart()
    {
        base.OnStart();
        _gameManager = GameManager.Instance;
        _bombRef = Scene.Directory.FindByName("BombModel").First().GetComponent<Bomb>();

        Log.Warning($"BOMBTIMERINPUT BombRef instance: {_bombRef?.GetHashCode()}");


    }



    [Button]
    private void DebugCheck()
    {
        Log.Warning($"Game started: {_gameManager.GameStarted} CurrentTurn: {_gameManager.CurrentTurn} IsBombActive: {_bombRef.IsActive}");
    }


    async protected override void OnUpdate()
    {
        if (!_gameManager.GameStarted) return;

        if (!_gameManager.CurrentTurn) {
            _timeSinceInput = 0f;
            return; 
        }


        _currentTimeoutWidth = (1f - (_timeSinceInput / _maxInputTime)) * 400f;

        if (Input.Pressed("ActivateCard"))
        {
            if (_gameManager.CardUsed) { return; }
            _gameManager.ActivateCard();
        }

        if (Input.Down("IncreaseBombTime") && _inputFireRate > _increaseSpeed)
        {
            _reductionTime = float.Min(_maxVal, _reductionTime + 1f);
            _inputFireRate = 0f;

        }
        else if (Input.Down("DecreaseBombTime") && _inputFireRate > _decreaseSpeed)
        {
            _reductionTime = float.Max(1, _reductionTime - 1f);
            _inputFireRate = 0f;
        }
        else if (Input.Pressed("SubmitReductionTime") || _timeSinceInput >= _maxInputTime)
        {
            if (!_bombRef.IsActive) { return; }
            SoundManager.PlayAcrossClients("Input");

            if (_gameManager.CardUsed && !_cardEffectsApplied)
            {
                _reductionTime = _gameManager.ChosenCard.Use(_reductionTime);
                _cardEffectsApplied = true;
                Log.Info($"New reduction time: {_reductionTime}");
            }

            _bombRef.ReduceBombTime(_reductionTime);
            ResetTimer();
            _gameManager.NextTurn();


        }


    }

    public SoundEvent InputSound {get; set;}
    private float _reductionTime = 1f;
    private GameManager _gameManager = null;
    private TimeSince _timeSinceInput = 0;
    private TimeSince _inputFireRate = 0;
    private int _maxVal = 100;
    private const float _maxInputTime = 5f;
    private float _currentTimeoutWidth = 0f;
    private Bomb _bombRef = null;
    private float _increaseSpeed = 0.03f;
    private bool _cardEffectsApplied = false;
    private float _decreaseSpeed = 0.07f;



    protected override int BuildHash()
    {
        return System.HashCode.Combine(_reductionTime, _currentTimeoutWidth, _gameManager.CurrentTurn, _gameManager.CardUsed );
    }
}
