BombTimerInput {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;
	font-size: 30px;
	flex-direction: column;
	color: white;
	transition: opacity 0.2s ease;

	> .reduce-text-bg {
		position: absolute;
		width: 100px;
		height: 90px;
		background-color: darkcyan;
		border-radius: 5px;
		left: 50%;
		top: 53%;
		transform: translate(-50%, -50%);
		padding: 8px;

		> .reduce-text {
			position: relative;
			width: 100px;
			height: 100px;
			background-color: darkslategray;
			border-radius: 5px;
			justify-content: center;
			align-items: center;
		}
	}

	&.hide {
		opacity: 0;
	}

	> .background {
		position: absolute;
		top: 61%;
		border-radius: 25px;
		left: 50%;
		width: 500px;
		height: 100px;
		transform: translate(-50%, -50%);
		background-color: darkcyan;
		padding: 8px;

		> .background-inner {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background-color: darkslategray;
			border-radius: 20px;


			> .reduce-button {
				position: absolute;
				justify-content: center;
				align-items: center;
				width: 10%;
				height: 50%;
				border-radius: 10px;
				background-color: dimgray;
				left: 5%;
			}

			> .increase-button {
				position: absolute;
				justify-content: center;
				align-items: center;
				width: 10%;
				height: 50%;
				border-radius: 10px;
				background-color: dimgray;
				left: 85%;
			}
		}
	}


	> .enter-label {
		position: absolute;
		left: 50%;
		top: 63.5%;
		font-size: 20px;
		transform: translate(-50%, -50%);
		justify-content: center;
		align-items: center;


		> .enter-label {
			position: relative;
		}
	}

	> .timeout-bar {
		position: absolute;
		left: 41%;
		top: 65%;
		height: 5px;
		background-color: red;
	}

	> .card {
		position: relative;
		flex-direction: column;
		background: linear-gradient(90deg, rgb(20,20,20), rgb(20,20,20));
		font-family: 'Times New Roman', Times, serif;
		padding: 20px;
		border-radius: 20px;
		border-width: 5px;
		border-color: slategray;
		width: 20%;
		height: 70%;
		left: 77%;
		top: 15%;
		transition: opacity 0.2s ease;

		> .card-name {
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		> .card-img {
			position: relative;
			top: 5%;
			border-radius: 20px;
			width: 100%;
			height: 100%;
			background-position: center;
			justify-content: center;
			align-items: center;
			height: 55%;
			padding: 20px;

		}

		> .card-activation_button {
			position: relative;
			top: 12%;
			width: 50%;
			height: 8%;
			left: 50%;
			justify-content: center;
			align-items: center;
			text-align: center;
			transform: translate(-50%, -50%);
			color: white;
			border-radius: 10px;
			font-size: 15%;
			background-color: rgba(255, 0, 0, 0.5);
		}

		> .card-description {
			position: relative;
			top: 11%;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 20px;
			height: 20%;
			padding: 20px;
			font-size: 14%;
			justify-content: center;
			align-items: center;
			text-align: center;
		}



		> &.hide {
			opacity: 0;
		}
	}
}
