@using Sandbox;
@using Sandbox.UI;
@using System.Threading.Tasks
@inherits PanelComponent
@namespace Sandbox

<root class="@(_gameManager?.IsMatchmaking ?? false ? "" : "hide")">
    <div class="title">@MatchmakingText</div>
    <div class="connected-players">@(_gameManager?.MatchmakingPlayers ?? 0) / 2 Connected</div>
    <div class="leave" onclick=@LeaveMatchmaking>Leave</div>
</root>

@code
{

    protected override void OnStart()
    {
        base.OnStart();
        _gameManager = GameManager.Instance;
    }


    private async Task LeaveMatchmaking()
    {
        _gameManager.UpdateMatchmakingCount(false);
        _gameManager.IsMatchmaking = false;
        _gameManager.MenuUI.Enabled = true;
        _gameManager.MatchmakeUI.Enabled = false;
        Scene.TimeScale = 0;
    }

    async protected override void OnUpdate()
    {
        base.OnUpdate();


        if (_timeSince >= 0.5f)
        {
            if (_dotCount >= 3)
            {

                MatchmakingText = MatchmakingText.Substring(0, MatchmakingText.Length - 3);
                _dotCount = 0;
                _timeSince = 0f;
                return;
            }


            if (_dotCount < 3)
            {
                MatchmakingText += '.';
                ++_dotCount;
            }

            _timeSince = 0f;

        }

    }


    protected override int BuildHash() => System.HashCode.Combine(MatchmakingText);
    private string MatchmakingText { get; set; } = "Matchmaking";

    private GameManager _gameManager = null;
    private int _dotCount = 0;
    private RealTimeSince _timeSince = 0;
}
