@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

MainMenuUI {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: all;
	align-items: center;
	justify-content: center;
	flex-direction: row;


	.title {
		position: relative;
		left: -1.6%;
		top: 2%;
		font-size: 5vw;
		font-family: Poppins;
		color: white;
		animation: pulse 1s infinite;
	}

	> .ai {
		position: relative;
		top: 30%;
		left: -3%;
		color: green;
		font-size: 2vw;
		font-family: Poppins;
		flex-direction: column;

		> .difficulty {
			position: relative;
			left: 10%;
			font-size: 1.7vw;
			flex-direction: column;

			&.hide {
				opacity: 0;
			}
		}

		.easy {
			color: green;
		}

		.normal {
			color: white;
		}

		.hard {
			color: red;
		}
	}

	> .human {
		position: relative;
		top: -25%;
		color: red;
		font-size: 2vw;
		flex-direction: row;
	}


	&.hide {
		opacity: 0;
	}
}
