@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root class="@( (_gameManager.GameStarted || _gameManager.IsMatchmaking) ? "hide" : "" )">
    <div class="human" onclick="@PlayCoop">Play HUMAN</div>
    <div class="title">@Title</div>
    <div class="ai" onclick=@PlayAI>Play AI</div>
</root>

@code
{
    protected override int BuildHash() => System.HashCode.Combine(Title, _gameManager.IsMatchmaking);

    protected override void OnStart()
    {
        base.OnStart();
        _gameManager = GameManager.Instance;
        Log.Info("Main menu UI valid");

    }
    protected override void OnUpdate()
    {
        Scene.TimeScale = !_gameManager.GameStarted ? 0 : 1;

    }
    private void PlayAI()
    {
        Log.Info("Play AI");
        _gameManager.PlayAI();
       
    }

    private void PlayCoop()
    {
        Log.Info("Play Coop");
        _gameManager.PlayCoop();

    }


    private string Title { get; set; } = "BOMBA";

    private GameManager _gameManager = null;
}
