@using Sandbox;
@using Sandbox.Network
@using Sandbox.UI;
@using System.Threading.Tasks
@inherits PanelComponent
@namespace Sandbox

<root class="@((_gameManager?.GameStarted ?? false)|| (_gameManager?.IsMatchmaking ?? false)? "hide": "")">

    <button class="human" onclick="@MatchmakeCoop">Play HUMAN</button>
    <h1 class="title">@Title</h1>
    <button class="ai" onclick=@AIModeClicked>Play AI
        <sec class="difficulty @(!_choosingDifficulty ? "hide" : "" )">
            <p class="easy" onclick=@EasyMode>&#x2192; Easy</p>
            <p class="normal" onclick=@NormalMode>&#x2192; Normal</p>
            <p class="hard" onclick=@HardMode>&#x2192; Hard</p>
        </sec>
    </button>


</root>

@code
{
    protected override int BuildHash() => System.HashCode.Combine(Title, _gameManager.GameStarted, _gameManager.IsMatchmaking, _choosingDifficulty);

    protected override void OnStart()
    {
        base.OnStart();
        _gameManager = GameManager.Instance;
        Log.Info("Main menu UI valid");
        SoundManager.Play2DByPath("ambience", "sound/ambience.sound");


    }
    private void AIModeClicked()
    {
        _choosingDifficulty = !_choosingDifficulty;

    }

    private void EasyMode()
    {
        
        _gameManager.SetAIDifficulty(global::Difficulty.Easy);
        PlayAI();
    }

    private void NormalMode()
    {
        _gameManager.SetAIDifficulty(global::Difficulty.Normal);
        PlayAI();
    }


    private void HardMode()
    {
        _gameManager.SetAIDifficulty(global::Difficulty.Hard);
        PlayAI();
    }
    private void PlayAI()
    {
        Log.Info("Play AI");

        // single player lobby to prevent any ownership issues if both playing AI mode
        if (Networking.MaxPlayers != 1 || Connection.All.Count > 1)
        {
            Log.Info("Coop server / 2 players detected, creating single player lobby...");
            Networking.CreateLobby(new LobbyConfig()
            {
                MaxPlayers = 1,
                Privacy = LobbyPrivacy.Private,
                Name = "Singleplayer"
            });
            return;

        }
        _gameManager.PlayAI();
        _choosingDifficulty = false;


    }

    private void MatchmakeCoop()
    {

        if (Networking.MaxPlayers != 2)
        {
            // find an open coop lobby first
            Networking.QueryLobbies().ContinueWith(task =>
            {

                // join available coop lobby if possible
                foreach (var lobby in task.Result)
                {
                    if (lobby.Members == 1 && lobby.MaxMembers == 2)
                    {
                        Log.Info("Lobby found! joining!");
                        Networking.Connect(lobby.LobbyId);
                        return;
                    }
                }

                // fail = create a lobby instead
                Log.Info("No lobbies to join, creating one.");
                Networking.CreateLobby(new LobbyConfig()
                {
                    MaxPlayers = 2,
                    DestroyWhenHostLeaves = true,
                    Privacy = LobbyPrivacy.Public,
                    Name = "Coop"
                });

            }); 



        }
        Log.Info("Matchmake Coop");
        _gameManager.MatchmakeCoop();
        _gameManager.StartCoop();





    }


    private string Title { get; set; } = "BOMBA";
    private bool _choosingDifficulty = false;
    private GameManager _gameManager = null;
    private string Difficulty { get; set; } = "Normal";


}
