@using Sandbox;
@using Sandbox.Network
@using Sandbox.UI;
@using System.Threading.Tasks
@inherits PanelComponent
@namespace Sandbox

<root class="@((_gameManager?.GameStarted ?? false)|| (_gameManager?.IsMatchmaking ?? false)? "hide": "")">

    <div class="human" onclick="@MatchmakeCoop">Play HUMAN</div>
    <div class="title">@Title</div>
    <div class="ai" onclick=@PlayAI>Play AI</div>
</root>

@code
{
    protected override int BuildHash() => System.HashCode.Combine(Title, _gameManager.IsMatchmaking);

    async protected override void OnStart()
    {
        base.OnStart();
        _gameManager = GameManager.Instance;
        Log.Info("Main menu UI valid");

         _mainMenuMusic = await GameManager.DownloadSound("dopamine.lobby_music");
         Sound.PlayFile(_mainMenuMusic);


    }

    private void PlayAI()
    {
        Log.Info("Play AI");


        // single player lobby to prevent any networking issues from other players joining
        if (Networking.MaxPlayers != 1)
        {
            Networking.CreateLobby(new LobbyConfig()
            {
                MaxPlayers = 1,
                Privacy = LobbyPrivacy.Private,
                Name = "Singleplayer"
            });
            return;

        }


        _gameManager.PlayAI();

    }

    private void MatchmakeCoop()
    {

        // if (Networking.MaxPlayers != 2)
        // {
        //     Networking.CreateLobby(new LobbyConfig()
        //     {
        //         MaxPlayers = 2,
        //         DestroyWhenHostLeaves = true,
        //         Privacy = LobbyPrivacy.Public,
        //         Name = "Coop"
        //     });
        //     return;

        // }
        Log.Info("MatchmakeCoop");
        _gameManager.MatchmakeCoop();
        _gameManager.StartCoop();

       

    }


    private string Title { get; set; } = "BOMBA";

    private GameManager _gameManager = null;

    private SoundFile _mainMenuMusic = null;

}
